body {
    background-color: rgb(255, 229, 250);
}


a:link {
    color: rgb(98, 59, 91);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(95, 65, 92);
    background-color: transparent;    
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(194, 106, 165);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(215, 127, 196);
    background-color: transparent;
    text-decoration: underline;
  }
  

